.car-picker__cars {
  $item-margin: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -$item-margin;
  margin-right: -$item-margin;

  .car-picker__car {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 215px;
    min-height: 140px;
    margin: $item-margin;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 4px;    
    background-color: #1fc8db;
    background-image: linear-gradient(0deg, #009daf 51%, #5ec0e4 75%);
    transition-duration: .2s;
    position: relative;

    &:not(.disabled):hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    img.car-picker__car-image {
      width: 100%;
    }

    .car-picker__car-label {
      display: block;
      margin-top: 15px;
      text-align: center;
      font-size: 14px;
      color: #fff;
    }

    .car-price-container {
      position: absolute;
      top: 5px;
      right: 0;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px 5px;

      img {
        width: 15px;
      }

      span {
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        margin-left: 3px;
      }
    }
  }
}