.race-path-container {
  position: relative;
  border-bottom: 1px dashed #000;

  &:not(:first-child) {
    margin-top: 60px;
  }

  .race-path-container__nickname {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-100%, -50%);
  }

  .race-path-container__race-car {
    height: 40px;
    display: inline-block;
    transition-duration: .25s;
    animation-timing-function: ease;
  }

  .race-path-container__result {
    width: 65px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(100%, -50%);

    img {
      width: 100%;
    }

    span {
      width: 65px;
      font-size: 14px;
      display: block;
      text-align: center;
    }
  }
}