.text-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fafeff;
  padding: 10px;
  box-sizing: border-box;
  font-size: 26px;
  border-top: 1px solid #08bef5;
  box-shadow: -2px 0 10px #20b1d2;
  
  .text-container__expected-text {
    width: 50%;
    flex: 1 0 50%;
    color: #006d96;
    white-space: pre;
    position: relative;
  
    .text-container__text-input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      outline: 0;
    }
  }
  
  .text-container__printed-text-wrapper {
    width: 50%;
    flex: 1 0 50%;
    color: rgba(#0094cb, 0.6);
    text-align: right;

    .text-container__printed-text {
      float: right;
      text-align: right;
      white-space: pre;
    }
  }
}