.tabs-container {
  .tabs-container__tab {

    &--hidden {
      display: none;
    }

    form {
      margin: 20px auto 0;

      .form-field {

        &:not(:first-child) {
          margin-top: 15px;
        }

        // label {

        // }
  
        input {
          display: block;
        }
      }

      button {
        margin-top: 20px;
      }
    }
  }
}